.introduce{
    display: flex;
    padding: 70px 70px;
    justify-content: space-evenly;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        min-width: 350px;

        h1 {
            margin: 0;
            letter-spacing: 3px;
        }

        p {
            margin: 0;
            letter-spacing: 3px;
        }
    }

    .image {
        transition: 400ms ease-in-out 0s;
    }

    .image:hover {
        scale: 1.1;
        transition: 400ms ease-in-out 0s;
    }

}