.container {
  background: linear-gradient(-45deg, #050404, #201C2E, #04271f, #0b5202);
  background-size: 400% 400%;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}

@keyframes backgroundTransition {
  0% {
      background-position: 0% 80%;
  }
  50% {
      background-position: 80% 100%;
  }
  100% {
      background-position: 0% 90%;
  }
}