.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto 0 auto;
    letter-spacing: 1px;
    text-indent: 1.6em;

    h2 {
        margin: 20px;
    }

    p {
        margin: 10px;
    }
}